<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="30000">
	    <setting label="30016" type="lsep" />
	    	<setting id="autoconfig" type="bool" label="30001" default="true"/>
	    	<setting id="force_dvplayer" type="bool" label="70009" visible="System.Platform.Windows" default="false"/>
	    	<setting id="debug_mode" type="bool" label="49998" default="false"/>
	    	<setting label="40114" type="lsep" />
	    	<setting id="python_cmd" type="text" label="" default="python" visible="false" />
	     <setting id="app_id" type="text" label="" default="" visible="false" />
	     <setting label="70036" type="lsep" />
	     <setting id="addon_history" type="bool" label="70037" default="true"/>
	     <setting id="items_per_page" label="70038" type="slider" default="20" range="10,50" option="int" />
		<setting type="action" label="70039" action="XBMC.RunPlugin(plugin://plugin.video.p2p-streams/?mode=9&name=p2p&url=p2p)" />	
	    	<setting id="openelecx86_64" type="bool" visible="false" default="false"/>
	    	<setting id="openeleci386" type="bool" visible="false" default="false"/>
	     <setting id="raspberrypi" type="bool" visible="false" default="false"/>
	     <setting id="openelecarm6" type="bool" visible="false" default="false"/>
	     <setting id="openelecarm7" type="bool" visible="false" default="false"/>
	     <setting id="mxlinuxarm7" type="bool" visible="false" default="false"/>
	     <setting id="xbianarm7" type="bool" visible="false" default="false"/>
	     <setting id="jynxbox_arm7" type="bool" visible="false" default="false"/>
		<!--  Auto-updates background modules -->  
		<setting id="last_version_check" type="text" label="last version check" default="" visible="False"/>
		<setting id="sopcast_version" type="text" label="sopcast md5" default="3.9.2" visible="False"/>
		<setting id="acestream_version" type="text" label="acestream md5" default="" visible="False"/>

	</category>
	<category label="Sopcast">
		<setting label="30017" type="lsep" />
		<setting id="external-sopcast" type="enum" values="Kodi player|External player" label="40101" visible="System.Platform.Android" default="0"/>
		<setting id="android_sopclient" type="text" label="40071" visible="False" default=""/>
		<setting id="auto_ip" type="bool" label="30003" default="true"/>
		<setting id="localhost" type="ipaddress" label="30004" enable="eq(-1,false)" visible="!System.Platform.Windows+eq(-1,false)" default="127.0.0.1"/>
		<setting id="local_port" type="number" label="30006" visible="!System.Platform.Windows" default="9000"/>
		<setting id="video_port" type="number" label="30007" visible="!System.Platform.Windows" default="9001"/>
		<setting id="buffer_size" type="number" label="30008" visible="!System.Platform.Windows" default="8192"/>
		<setting id="stream_time_osx" label="40199" type="number" visible="System.Platform.OSX" default="15"/>
		<setting id="loading_time" type="number" label="Load time (seconds)" visible="!System.Platform.Windows" default="20"/>
		<setting id="wait_time" type="number" label="30005" visible="!System.Platform.Windows+!System.Platform.OSX" default="1000"/>
		<setting id="socket_time" label="40198" type="number" visible="System.Platform.Windows" default="15"/>
		<setting id="stream_time" label="40199" type="number" visible="System.Platform.Windows" default="6"/>
	</category>
	<category label="Acestream">
		<setting label="30018" type="lsep" />
		<setting id="aceplay_type" type="enum" values="Local|Server remote engine|ValdikSS proxy" label="40152" default="0" enable="True"/>
		<setting id="ace_cmd" type="enum" values="Default|acestreamengine --client-console|Use my own" label="Acestream CMD" default="0" visible="System.Platform.Linux+!System.Platform.Android" enable="eq(-1,0)"/>
		<setting id="ace_cmd_alternative" type="text" label="70010" default="" visible="System.Platform.Linux+!System.Platform.Android" enable="eq(-1,2)"/>
		<setting id="engine_app" type="enum" values="All Addon|External App+Kodi Player|Official Ace Player|Torrent Controler Proxy" label="50000" default="0" visible="System.Platform.Android"/>
		<setting id="ip_addr" type="text" label="30004" default="127.0.0.1" />
		<setting id="aceporta" type="text" label="40108" default="62062" />
		<setting id="playerport" type="text" label="40153" default="6878" visible="eq(-6,1)" />
		<setting label="" type="lsep" />
		<setting id="pausable" type="bool" label="30010" default="false" />
		<setting id="save" type="bool" label="30012" default="false" />
		<setting id="folder" type="folder" label="30013"/>
		<setting id="kill_type" type="enum" values="Force Kill|Normal|Custom" label="70002" default="1" visible="!eq(-8,1)+!System.Platform.windows"/>
		<setting id="custom_kill_ace" type="text" label="Custom kill engine cmd" default="" visible="eq(-1,2)"/>
		<setting id="shutdown-engine" type="bool" label="30015" default="true"/>
		<setting id="engine-status" type="bool" label="49999" default="true"/>
		<!-- Android default port -->
		<setting id="android_port" type="text" label="" visible="False" default="8621"/>
		<!-- Linux settings to pass to the engine -->
		<setting id="acestream_cachefolder" type="text" label="" visible="False" default=""/>
		<setting id="total_max_download_rate" type="text" label="" visible="False" default="0"/>
		<setting id="total_max_upload_rate" type="text" label="" visible="False" default="0"/>
	</category>

</settings>
